<header>
  <nav>
    <img src="../images/clinch-01.png" alt="logo">
    <ul>
      <li><a href="/auth/logout">
        Log Out</a></li>
    </ul>
  </nav>
</header>
<section class="main">
  <div class="profile">
<h3>{{user.username}}</h3>
<br>
<h5>Your pending choices</h5>
</div>

<div class="card">
{{#each data}}
<div class="group-description">
 <div class="wrapper">
    <h6><a href="/group/{{_id}}">{{name}}</a></h6>
  <p>{{dateEvent}}</p>
 </div>
  <img src="{{image}}" alt="">
</div>
{{/each}}
</div>
<div class="center">
<button class="button blue-back small short"><a href="/group/new">Add event</a> </button>
</div>
</section>