<header>
    <nav>
         <img src="/images/clinch-01.png" alt="logo">
        <ul>
            <li><a href="/auth/profile">
                    Back</a></li>
            <li><a href="/auth/logout">
                    Log Out</a></li>
        </ul>
    </nav>
</header>
<section class="main">
    <div class="profile">
        <h3>{{group.name}}</h3>
        <br>
        <h5>Where should we go?</h5>
    </div>
    <div class="card card2">
        <aside class="votes">
            {{#each group.plans}}
            <div class="list">
                <h6><a href="/group/{{group}}/plan/{{_id}}">{{name}}</a></h6>
                <div class="button-votes">
                    <p>Votes {{votes.length}}</p>
                    <form action="/group/{{group}}" method="POST">
                        <input type="hidden" name="_id" value={{_id}}>
                        <input type="hidden" class="coords" name="{{name}}" value={{location.coordinates}}>
                        <button class="buttonVote orange-back short small">vote</button>
                    </form>
                </div>
            </div>
            {{/each}}
            <div class="center">
        <a href="/group/{{group._id}}/plan/new-plan"><button class="button blue-back small">Propose a Plan</button></a>
    </div>
        </aside>
        <div id="groupMap"></div>
    </div>
    
</section>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCyXhe0Py7ZQkmgfZrEFF_jbnnaJMT9e_s"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.js"></script>
<script type="text/javascript" src="/javascripts/eventMap.js"></script>