<header>
    <nav>
         <img src="/images/clinch-01.png" alt="logo">
        <ul>
            <li><a href="/group/{{plan.group}}">Back</a></li>
            <li><a href="/auth/logout">
                    Log Out</a></li>
        </ul>
    </nav>
</header>
<section class="main card card2">
<div class="details">
<h3>{{plan.name}}</h3>
<br><br>
<p><span class="bold">Why</span>{{plan.description}}</p> 
<p><span class="bold">Where</span> {{plan.address}}</p>
<p><span class="bold">Votes</span> {{plan.numVotes}}</p>

<input id="lat" type="hidden" value={{plan.location0}}>
<input id="lng" type="hidden" value={{plan.location1}}>

<div class="split">
    <a href="{{plan._id}}/edit"> <button class="button small short orange-back"type="submit">Update Plan</button></a>
<a href="{{plan._id}}/delete"> <button class="button small short delete" type="submit">Delete Plan</button></a>

</div>
</div>
<div id="map" style="height: 60vh; width: 60vw;"></div>
</section>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCyXhe0Py7ZQkmgfZrEFF_jbnnaJMT9e_s"></script>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script type="text/javascript" src="/javascripts/planDetails.js"></script>