<a href="/group">Back</a>
<br><br>
<br><br>
<br><br>

DETAILS PLAN


<br><br>

Name : {{plan.name}}

<br><br>

Reasons why I propose this plan : {{plan.description}}

<br><br>

Where : {{plan.address}}

<br><br>

Votes : {{plan.numVotes}}

<br><br>

<input id="lat" type="hidden" value={{plan.location0}}>
<input id="lng" type="hidden" value={{plan.location1}}>

<br><br>

<a href="{{plan._id}}/delete"> <button type="submit">Delete Plan</button></a>

<br><br>

<a href="{{plan._id}}/edit"> <button type="submit">Update Plan</button></a>

<br><br>

<div id="map" style="height: 30vh;"></div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDZLQbD2kqkmEW7MmxZAdBTw4YB72gIZcU"></script>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script type="text/javascript" src="/javascripts/planDetails.js"></script>