<a href="/plans/list">Back</a>

<br><br>
<br><br>
<br><br>





DETAILS PLAN

<br><br>



Owner :{{user.id}}
<br><br>

Name : {{plan.name}}

<br><br>

Reasons why I propose this plan : {{plan.description}}

<br><br>

Where : {{plan.location}}

<br><br>

Votes : {{plan.votes}}

<br><br>

<a class="plan-bottom-2 col-sm-6" href="/plans/<%=plan.id%>/in"> I´m in! </a>

<br><br>

<img class="plan-image" src="<%= plan.picPath %>">

<br><br>


<div id="map"></div>